* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  outline: none;
  background-color: transparent;
  transition: 0.8s;
}

button:hover {
  transform: scale(1.2);
  background-color: rgb(32, 30, 30);
}
